name: Publish AWS GG docker image
# This workflow is triggered on pushes to the repository.
on: 
  push:
    branches:
      - master

jobs:
   
  publish_sab_discovery_docker:  
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1 
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}   
      - name: Publish AWS GG
        uses: docker/build-push-action@v2
        with:   
          context: ./build-context
          push: true
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          build-args : greengrass_version=1.11.6
          tags: | 
            aws-iot-greengrass:1.11.6